@media screen and (max-width: 760px) {

	.hero-module {
		min-height: 72vh;
		background-position: top center;
	}

	.hero-text {
		padding-top: 130px;
		
		h1 {
			font-size: 70px;
			line-height: 70px;
		}
	}

	#nav-previous, #nav-next {
		span {
			width: 35px;
		}
	}

	#header {
		display: none;
	}

	#main {
		.lede, p {
			width: 90%;
			margin: 0 auto;
		}

		.lede p {
			width: 100%;
		}
	}

	.slide {
		h2 {
			font-size: 48px;
			line-height: 48px;
		}

		.illo-byline {

		}

		p {
			margin: 1em 0 2em;
		}
	}

	#slide-zero {
		h1 {
			font-size: 52px;
			line-height: 54px;
			border-top: 1px solid #241f19;
			border-bottom: 1px solid #241f19;
			padding: 15px 0 10px;
			margin-bottom: 30px;
		}

		.dek {
			font-size: 20px;
			line-height: 28px;
		}
		
		.illo-byline {
			font-size: 14px;
			line-height: 16px;
			margin: 20px auto 60px;
			max-width: 100%;
		}

		.start-btn {
			font-size: 14px;
		}
	}



}