@media screen and (max-width: 760px) {

	hr {
		margin-bottom: 2em;
	}

	.img_right, .img_left {
		max-width: 90%;
		float: none;
		text-align: center;
		margin: 20px;
	}

	.img_full {
		width: 90%;

		img {
			max-width: 90%;
		}
	}


	#nav-previous, #nav-next {
		span {
			width: 35px;
		}
	}

	#header, #subheader {
		display: none;
	}

	#main {
		.lede, p {
			width: 90%;
			margin: 0 auto 1em;
		}

		.lede {
			p {
				width: 100%;

				+ p {
					margin-top: 0.325em;
					// font-size: 0.925em;
				}	
			}
		}
	}

	.slide {
		h2 {
			font-size: 48px;
			line-height: 48px;
		}

		.illo-byline {

		}

		p {
			margin: 1em 0 2em;
		}
	}

	#slide-zero {
		.lede-content {
			bottom: 20%;
		}

		h1 {
			font-size: 52px;
			line-height: 54px;
			border-top: 1px solid #241f19;
			border-bottom: 1px solid #241f19;
			padding: 15px 0 10px;
			margin-bottom: 30px;
			text-shadow: 0px 0px 10px rgba(0,0,0,0.3);
		}

		.dek {
			font-size: 20px;
			line-height: 28px;
		}
		
		.illo-byline {
			font-size: 14px;
			line-height: 16px;
			margin: 20px auto 60px;
			max-width: 100%;
		}

		.start-btn {
			font-size: 14px;
		}
	}

	.video-section {

		&.icon:after {
			font-size: 4em;
			margin-top: -34%;
		}

		video {
			display: none;
		}
	}

	.photo-byline {
		span {
			display: block;
		}
	}

	.video-player, .lede .text_divider {
		display: none;
	}

	.mobile-lede {
		display: block;
		width: 100%;
		margin: -25px 0 20px 0;

	}

	.video-js {
		min-width: 320px;
		min-height: 180px;
	}

}