#main-wrapper, #slider, #wrapper-slides, .slide {
	position: relative;
}

#slider, #wrapper-slides, .slide {
    padding: 0;
    margin: 0;
    position: relative;
}

#slider {
	width: 100%;
	overflow: hidden;
	@include transform(translate3d(0,0,0) scale3d(1,1,1)); 
	@include transform-style(preserve-3d);
}

.slide {
	display: block;
    width: 100%;

    @include transform(translate3d(0,0,0));
	@include transform-style(preserve-3d);
    position: absolute;
    top: 0;

	h2 {
		font: 70px/68px $druk;
		// margin-top: 10px;
	}

	h3 {
		font: 22px/28px $HaasBold;
		// margin-top: 0px;
	}
    
    a {
		color: inherit;
	}
}

.slide-content-wrap {
}

.slide-selected {
    position: relative;
}

/*ARROWS*/

#nav-previous,
#nav-next {
    position: fixed;
    top: 0;
    width: 5%;
    height: 100%;
    cursor: pointer;
	
	span {
	    position: absolute;
	    top: 41.4%;
	    opacity: 0.25;
	    font-size: 5em;
	    width: 60px;
	    height: 214px;

	 	&:hover {
		    opacity: 0.7;
	    }
	}
}


#nav-previous, #nav-previous span {
    left: 0;
}

#nav-next, #nav-next span {
    right: 0;
}

#nav-previous img {
	@include transform(rotate(180deg));
}

/*HERO IMAGES*/

.hero-module {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 100vh;
	width: 100%;
}

#slide-zero {
	background: url('../img/00_INTRO__DSC1788 copie.jpg') center center no-repeat;
	background-size: cover;
	height: 100vh;
	width: 100%;
	
	.lede-content, .dek, .illo-byline, .start-btn, .byline {
		text-align: center;
		color: $white;
	}

	.lede-content {
		position: absolute;
		bottom: 30%;
		left: 50%;

		@include transform(translateX(-50%));
		width: 80%;
	}
	
	h1 {
		font: 100px/100px $druk;
		
		padding: 15px 0 10px;
		margin-bottom: 30px;
		margin-top: 0;
	}

	.dek {
		font: 34px/40px $tiempos-bold;
		margin: 10px auto;
		width: 100%;
		background-color: transparent;
	}

	.illo-byline {
		font: 18px/22px $tiempos-bold;
		margin: 20px auto 60px;
		max-width: 800px;

	}

	.byline {
		font-weight: 600;
	}

	.start-btn {
		font: 18px $HaasBold;
		background-color: $black;
		padding: 20px;
		text-transform: uppercase;
		width: 200px;
		margin: 0 auto;
	}
}

#slide-one {

	.lede {
		// margin-top: -18%;
	}
}

#slide-two {

}

#slide-three {

}



/*--- VIDEO LEDE ---*/

/*------------ VIDEO STYLES ------------*/

.video {
	margin: 40px auto;
}

.video-js, .video iframe {
	margin: 0 auto;
	min-width: 970px;
	min-height: 546px;
	display: block;
}

.terminal .video {
	display: none;
}



.lede-video {
	width: 100%;
	height: auto;
	position: relative;

	video {
		// min-height: 100vh;
		width: 100%;
		margin-bottom: 30px;
	}
}


.lede {
    // width: 80%;
    width: 50%;
    // width: 800px;
	// margin: -20% auto 0 15%;
	// margin: -23.66% auto 6em;
	margin: 0 auto;
	position: absolute;
	z-index: 1;
	
	h2 {
		color: $black;
		// background-color: $white;
		// display: inline;

		// color: $white;
		margin-bottom: 0.01em;
	}

	p {
		width: 100%;
		// color: $white;
	}
}

.dek {
	// display: inline-block;
	text-align: left;
	background-color: $white;
	width: 100%;
}

.illo-byline {
	background-color: $black;
	color: $white;
	font-family: $NHaas-bold;
	padding: 1px 6px 3px;
	display: inline;
	font-weight: 600;
}


.byline-feat {
	font-family: $HaasBold;
	color: $black;
	margin: 5px 0;
	background-color: $white;
	display: inline;
}

.mobile-lede {
	display: none;
}

.cd-section {
	position: relative;

	// min-height: 500px;
}


.lede, .parallax_wrapper {
	position: relative;
	z-index: 2;
}

.body-copy {
	z-index: 40;
    min-height: 100%;
}

.parallax_wrapper { 
	width: auto;
}

[data-hijacking="off"] .cd-section > div {
	opacity: 1;
}