#main-wrapper, #slider, #wrapper-slides, .slide {
	position: relative;
}

#slide-one p {
	color: red !important;
}

#slide-two {
	background-color: pink;
}

#slide-three {
	background-color: golden-rod;
}

.cd-section {
	position: relative;

	// min-height: 500px;
}


.lede, .parallax_wrapper {
	position: relative;
	z-index: 2;
}

.body-copy {
	z-index: 1;
    min-height: 100%;
}